@model Pedido;

<div class="container">

    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>

    <div class="card">
        <div class="card-body">

            <p>Cliente: <strong>@Model.Nome</strong></p>
            <p>Data do Pedido: <strong>@TimeZoneInfo.ConvertTimeFromUtc(Model.PedidoEnviado, TimeZoneInfo.Local)</strong></p>
            <p>Número do Pedido: <strong>@Model.PedidoId</strong></></p>

            <table class="table">
                <tr>
                    <th></th>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th>Preço</th>
                </tr>
                @if (Model != null && Model.PedidoItens != null)
                {
                    @foreach(var item in Model.PedidoItens)
                    {
                        <tr>
                            <td></td>
                            <td>@item.Quantidade</td>
                            <td>@item.Lanche.Nome</td>
                            <td>@item.Lanche.Preco</td>
                        </tr>
                    }
                }
            </table>
            <h4>Valor total do pedido: <strong>@(((decimal)ViewBag.TotalPedido).ToString("C2"))</strong></h4>
            <div class="form-group" style="text-align: center">
                <h3>
                    <a class="nav-link text-info" asp-controller="Home" asp-action="Index">Retornar</a>
                </h3>
            </div>
        </div>
    </div>

</div>