@model Delivery.ViewModels.CarrinhoCompraViewModel

<img src="~/images/cart.jpeg" width="60px" height="60px" />
<p>Seu carrinho de compras:</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Lanche</th>
            <th class="text-right">Preço</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItens)
        {
            <tr>
                <td class="text-center">@item.Quantidade</td>
                <td class="text-center">@item.Lanche.Nome</td>
                <td class="text-center">@item.Lanche.Preco.ToString("c")</td>
                <td class="text-center">@((item.Quantidade * item.Lanche.Preco).ToString("c"))</td>
                <td class="text-center">
                    <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinho" asp-route-itemId="@item.Lanche.LancheId">
                        <img width="20px" height="20px" src="~/images/lixeira.png" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right" colspan="3">Total:</td>
            <td class="text-right">@Model.CarrinhoCompraTotal.ToString("c")</td>
            <td class="text-right"></td>
        </tr>
    </tfoot>    
</table>

<div class="text-right">
    <div class="btn-group">
        <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
        <a class="btn btn-primary" asp-controller="Lanches" asp-action="List">Continuar Comprando</a>
    </div>
</div>